# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Environment variables
*.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Logs
*.log

# MacOS
.DS_Store

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# MyPy & other tooling
.mypy_cache/
.cache/
*.cover
coverage.xml

# Build / Distribution
build/
dist/
*.egg-info/
